@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
:root {
  --bg-light: #666;
  --bg-dark: #333;
  --text-color-primary: #fff;
  --text-color-secondary: #9c9c9c;
  --success: #2ecc71;
  --warning: #fffb00;
  --error: #e74c3c;
  --info: #3498db;
  --desktop-width: 60%; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Questrial', sans-serif;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0; }

h1 {
  color: var(--text-color-primary); }

.screen {
  cursor: pointer;
  width: var(--desktop-width);
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.controls {
  background: #333;
  width: var(--desktop-width);
  color: var(--text-color-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px; }

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer; }

.controls .fa-play {
  color: var(--text-color-secondary); }

.controls .fa-pause {
  color: var(--text-color-secondary); }

.controls .progress {
  width: 100%; }

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px; }

.btn:focus {
  outline: 0; }

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%; } }
